<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dataset</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/static/css/Dataset.css" rel="stylesheet" type="text/css">
  <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- top navigation bar -->
  <nav>
    <div id="nav-bar">
      <div id="project-Heading"><h2><b>ADH-Analyser</b></h2></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-1" href="/home"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-2" href="/hierarchy"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;Hierarchy</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-3" style="color: rgb(255, 172, 40);" href="/dataset"><i class="fas fa-database" style="color: rgb(255, 172, 40);"></i>&nbsp;&nbsp;Dataset</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-5" href="/about"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</a></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if(loggedin) { %>
        <div style="font-size: xx-large; margin-left: 16vw; color: rgb(170, 127, 59);"><a id="nav-tab-login" href="/profile"><i class="fas fa-user-circle"></i></a></div>
        <div style="font-size: x-large; margin-left: 3vw; color: rgb(170, 127, 59);"><button id="sign-out-btn" onclick="signout()"><i class="fas fa-sign-out-alt"></i></button></div>
      <% } else { %>
        <div style="font-size: large; margin-left: 20vw; color: rgb(170, 127, 59);"><a id="nav-tab-login" href="/login">Login&nbsp;&nbsp;<i class="fas fa-bars"></i></a></div>
      <% } %>
    </div>
  </nav>
  <!-- main content -->
  <div id="dataset-background">
  </div>
  <div id="dataset-main">
    <% for(var i=0; i<data.length; i+=4){ %>
      <div class="dataset-rw" <% if(i==0) { %> style="margin-top: 0vh;" <% } %> >
        <% for(var j=0; j<4&&(i+j)<data.length; j++) { %>
          <div class="dataset-bx" style="background-color: #69DAE0;">
            <h3 style="margin-top: 1.5vh;"> <%= data[i+j].hierarchy_name %> </h3>
            <p style="font-size: 15px; margin-top: 0vh;"> <%= data[i+j].level %> Levels<br> <%= data[i+j].alt_cnt %> Alternatives <br>Inconsistency : <%= data[i+j].inconsistency %>% </p>
            <div class="dataset-expert-btn" onclick="window.location.assign('/experts/view?id=<%= data[i+j].author_id %>')">
              <i class="fas fa-user-tie"></i>&nbsp;&nbsp;<%= data[i+j].author %>
            </div>
            <div class="dataset-icons" id="<%= i+j %>">
              <button class="dataset-btn-hierarchy" onclick="window.location.assign('/hierarchy/view?id=<%= data[i+j].hierarchy_id %>')"><i class="fas fa-sitemap"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="dataset-btn-data" onclick="window.location.assign('/dataset/view?hierarchy_id=<%= data[i+j].hierarchy_id %>&auth_id=<%= data[i+j].author_id %>')"><i class="fas fa-chart-bar"></i></button>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>

  <div id="sk-bar" class="snackbar"></div>
  <script>
    var random_color = ['#69DAE0', 'rgb(255, 107, 70)', '#41F04A', '#FD57FD'];

    var bx = document.getElementsByClassName('dataset-bx');
    for(var i=0;i<bx.length; i++){
      bx[i].setAttribute("style", "background-color: " + random_color[Math.floor(((i/4)+i)%4)]);
    }
  </script>
  <script src="/static/js/app.js"></script>
</body>
</html>