<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- top navigation bar -->
  <nav>
    <div id="nav-bar">
      <div id="project-Heading"><h2><b>ADH-Analyser</b></h2></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-1" href="/home"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-2" href="/hierarchy"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;Hierarchy</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-3" href="/dataset"><i class="fas fa-database"></i>&nbsp;&nbsp;Dataset</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-5" href="/about"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</a></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if(loggedin) { %>
        <div style="font-size: xx-large; margin-left: 16vw; color: rgb(170, 127, 59);"><a id="nav-tab-login" style="color: rgb(255, 172, 40);" href="/profile"><i class="fas fa-user-circle" style="color: rgb(255, 172, 40);"></i></a></div>
        <div style="font-size: x-large; margin-left: 3vw; color: rgb(170, 127, 59);"><button id="sign-out-btn" onclick="signout()"><i class="fas fa-sign-out-alt"></i></button></div>
      <% } else { %> <script> window.location.assign('/login'); </script> <% } %>
    </div>
  </nav>
  <!-- main content -->
  <div style="height: 79vh; width: 95vw; margin: 5vh; display: inline-flex;">
    <div id="profile-left">
      <i class="fas fa-user-tie" style="font-size: 150px; margin-top: 8vh;"></i><br><br><br>
      <h1> <%= name %> </h1><br>
      <h5> <%= email %> </h5><br>
      <% if(admin && owner) { %>
        <h4>Welcome Admin</h4>
      <% } %>
    </div>
    <div id="profile-right">
      <h2 style="color: red; margin-top: 2vh;"><b>Dataset</b></h2>
      <div id="profile-dataset-list">
        <ul style="margin-left: 0vh;">
          <% for(var i=0; i<dataset.length; i++) { %>
            <li>
              <div class="profile-list-item">
                <p style="width: 39vw;"> <%= dataset[i].goal %> </p>
                <progress class="profile-dataset-progbar" value="<%= dataset[i].percentage %>" max="100"> 32% </progress>
                <% if(owner) { %>
                  <button class="profile-show-btn" onclick="window.location.assign('/dataset/fill?id=<%= dataset[i].hierarchy_id %>')"><i class="fas fa-greater-than"></i></button>
                <% } else { %>
                  <button class="profile-show-btn" onclick="window.location.assign('/dataset/view?hierarchy_id=<%= dataset[i].hierarchy_id %>&auth_id=<%= dataset[i].author_id %>')"><i class="fas fa-greater-than"></i></button>
                <% } %>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <div id="sk-bar" class="snackbar"></div>

  <script src="/static/js/app.js"></script>
</body>
</html>